  <a mat-list-item 
     routerLink="/profile" 
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{ exact: true }">
    Profile
  </a>

<mat-nav-list>
  <a mat-list-item 
     routerLink="/dashboard" 
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{ exact: true }">
    Dashboard
  </a>

  <a mat-list-item 
     routerLink="/roles" 
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{ exact: true }">
    Role Management
  </a>
</mat-nav-list>

