
.login-form-container{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    .btn-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .a-tag{
            font-size: small;
            font-style: italic;
            text-align: right;
        }
    }
    .email-container{
        width: 100%;
    }
    .password-container{
        width: 100%;
    }
}