<form [formGroup]="loginForm" class="login-form-container" (ngSubmit)="onSubmit()">
  <h1 style="text-align: center; font-weight: 900;">Welcome test new to docker Image on ghcr!</h1>
  <div>
    <mat-form-field appearance="fill" class="email-container">
      <mat-label>Enter your username</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        Please enter a valid username.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="password-container">
      <mat-label>Enter your password</mat-label>
      <!-- Bind the input type to the 'hide' variable -->
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required.
      </mat-error>
      <!-- Toggle the 'hide' variable on button click -->
      <button 
            mat-icon-button 
            type = "button"
            matSuffix 
            (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="btn-container">
    <button mat-flat-button color="primary" type="submit">Sign In</button>
    <a href="#" class="a-tag">Forgot password?</a>
  </div>
</form>