<app-layout>
    <div class="user-profile">
      <mat-card>
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <strong>Username:</strong> {{ userProfile.username }}
            </mat-list-item>
            <mat-list-item>
              <strong>First Name:</strong> {{ userProfile.firstName }}
            </mat-list-item>
            <mat-list-item>
              <strong>Last Name:</strong> {{ userProfile.lastName }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="permissions-card">
        <mat-card-header>
          <!-- <mat-card-title>Permissions</mat-card-title> -->
          <button mat-raised-button color="primary" (click)="loadPermissions()">Load Permissions</button>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let permission of userPermissions">
              {{ permission.permissionName }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="modules-card">
        <mat-card-header>
          <!-- <mat-card-title>Modules</mat-card-title> -->
          <button mat-raised-button color="primary" (click)="loadModules()">Load Modules</button>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let module of userModules">
              {{ module.moduleName }} {{ module.isActive ? '(Active)' : '(Inactive)' }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </app-layout>