.role-management {
  padding: 16px;
  max-width: 800px;
  mat-list-item {
    display: flex;
    justify-content: space-between; /* Align name and buttons on opposite sides */
    align-items: center; /* Vertically align items */
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0; /* Optional: Add a separator between items */
  }
  .role-list{
   margin-top: 50px;
   height: 100vh;
  }
  button {
    margin-left: 8px;
  }
  .mat-mdc-list-base {
    display: block;
    box-sizing: border-box;
    position: relative;
    border-style: solid;
    border-width: 0;
    background-color: var(--mdc-elevated-card-container-color, var(--mat-sys-surface-container-low));
    border-color: var(--mdc-elevated-card-container-color, var(--mat-sys-surface-container-low));
    border-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
    box-shadow: var(--mdc-elevated-card-container-elevation, var(--mat-sys-level1));
}
  .role-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure the container spans the full width */
    align-items: center;
    min-width: 0; //
  }
  .manage-role {
    flex: 1; /* Take up available space */
    text-align: left; /* Align text to the left */
    font-weight: 500; /* Optional: Make the text slightly bold */
    cursor: pointer;
    transition: transform 0.3s;
  }
  .mdc-list{
    padding: 8px;
  }

  .manage-role:hover {
    transform: scale(1.1); /* Slightly reduce the scale for better UX */
    color: #33339f;
  }

  .role-actions {
    display: flex;
    gap: 8px; /* Add spacing between buttons */
  }

  mat-icon {
    font-size: 20px; /* Adjust icon size */
  }
}