<!-- <div class="user-list-container">
  <mat-form-field appearance="outline" class="user-list-filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter users" />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="user-list-table mat-elevation-z8"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="user-list-header">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="isAllSelected()"
          [indeterminate]="isSomeSelected()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="user-list-cell">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="toggleSelection(row)"
          [checked]="selection.isSelected(row)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="user-list-header"
      >
        Username

      </th>
      <td mat-cell *matCellDef="let user" class="user-list-cell">
        {{ user.username }}
      </td>

    </ng-container>

    

    <ng-container matColumnDef="firstName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="user-list-header"
      >
        First Name
      </th>
      <td mat-cell *matCellDef="let user" class="user-list-cell">
        {{ user.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="user-list-header"
      >
        Last Name
      </th>
      <td mat-cell *matCellDef="let user" class="user-list-cell">
        {{ user.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="roleName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="user-list-header"
      >
        Role
      </th>
      <td mat-cell *matCellDef="let user" class="user-list-cell">
        {{ user.roleName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="user-list-header"
      >
        Status
      </th>
      <td
        mat-cell
        *matCellDef="let user"
        class="user-list-cell"
        [ngClass]="{
          'status-active': user.isActive,
          'status-inactive': !user.isActive
        }"
      >
        {{ user.isActive ? "Active" : "Inactive" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="user-list-header">
        Actions
      </th>
      <td mat-cell *matCellDef="let user" class="user-list-cell">
        <button mat-icon-button color="primary" (click)="onEdit(user)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="user-list-header-row"
    ></tr>
    
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="user-list-row"
    ></tr>
  </table>

  <mat-paginator
    [length]="totalUsers"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 50, 100, 200, 500, 1000, 10000]"
    showFirstLastButtons
    (page)="onPageChange($event)"
    class="user-list-paginator"
  ></mat-paginator>
</div> -->

<div class="user-list-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="user-list-table mat-elevation-z8"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="user-list-header">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="isAllSelected()"
          [indeterminate]="isSomeSelected()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="toggleSelection(row)"
          [checked]="selection.isSelected(row)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>
        <div class="title-header">
          <span>Username</span>
          <mat-form-field appearance="outline" class="small-input">
            <input
              matInput
              (keyup)="applyColumnFilter('username', $event)"
              placeholder="Filter Username"
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="title-header">
          <span>First Name</span>
          <mat-form-field appearance="outline" class="small-input">
            <input
              matInput
              (keyup)="applyColumnFilter('firstName', $event)"
              placeholder="Filter First Name"
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="title-header">
          <span>Last Name</span>
          <mat-form-field appearance="outline" class="small-input">
            <input
              matInput
              (keyup)="applyColumnFilter('lastName', $event)"
              placeholder="Filter Last Name"
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="roleName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="title-header">
          <span> Role</span>
          <mat-form-field appearance="outline" class="small-input">
            <input
              matInput
              (keyup)="applyColumnFilter('roleName', $event)"
              placeholder="Filter Role"
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let user">{{ user.roleName }}</td>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

<!-- Status Column -->
<ng-container matColumnDef="isActive">
  <th mat-header-cell *matHeaderCellDef>
    <div class="title-header">
      <span>Status</span>
      <!-- <mat-form-field appearance="outline" class="small-select" >
        <mat-select
          (selectionChange)="applyColumnFilter('isActive', $event.value)"
          placeholder="Filter Status"
        >
          <mat-option value="">All</mat-option>
          <mat-option value="true">Active</mat-option>
          <mat-option value="false">Inactive</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
  </th>
  <td
    mat-cell
    *matCellDef="let user"
    [ngClass]="{
      'status-active': user.isActive,
      'status-inactive': !user.isActive
    }"
  >
    {{ user.isActive ? "Active" : "Inactive" }}
  </td>
</ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" (click)="onEdit(user)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Table Header Rows -->
    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr
      mat-header-row
      *matHeaderRowDef="filterColumns"
      class="user-list-header-row"
    ></tr>

    <!-- Table Rows -->
    <tr mat-row *matRowDef="let row; columns: filterColumns"></tr>
  </table>

  <!-- Pagination -->
   <!-- (page)="onPageChange($event)" -->
   <!-- [pageSizeOptions]="[5, 10, 20, 50, 100, 3000]" -->
  <mat-paginator
    [length]="totalUsers"
    [pageSize]="pageSize"
    showFirstLastButtons
    [pageSizeOptions]="[5, 10, 15, 20, 50,]"
    class="user-list-paginator"
  ></mat-paginator>
</div>
