.user-list-container {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.255);
  }

  /* Title Styling */
.user-list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Filter Input Styling */
  .user-list-filter {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Table Styling */
  .user-list-table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
  }
  /* Header Row Styling */
.user-list-header-row {
    background-color: #f0f0f0;
    color: #444444;
  }

  /* Header Cell Styling */
.user-list-header {
    color: #454545;
    text-align: left;
  }

  .user-list-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  .mat-elevation-z8 {
    border-radius: 8px;
  }


/* Active Status Styling */
.status-active {
    color: #32a838; /* Dark green text */

  }
  
  /* Inactive Status Styling */
  .status-inactive {
    color: #ed2929; /* Dark red text */

  }
  .title-header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .title-header mat-form-field {
    width: 150px; /* Adjust the width as needed */
    margin-top: 4px; /* Add some spacing between the label and input */
  }
  
  .small-input input {
    font-size: 12px; /* Adjust the font size for a smaller input */
  }